<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kalkulačka trojúhelníků</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
	<h1>Kalkulačka trojúhelníků</h1>
    <p>Zadejte tři prvky trojúhelníku a spusťte výpočet:</p>

    <form method="post">
        <div class="tabulka">
            {% for pole in formular.polozky %}
                <label for="{{ pole.name }}">{{ pole.nazev | safe}}:</label>
                <input type="number" step="any" class="vstupni-pole" 
                name="{{ pole.name }}" id="{{ pole.name }}" value="{{ pole.hodnota }}">
            {% endfor %}
        </div>
        <input type="submit" value="vypočítat" class="submit">
    </form>

    {% if formular.hlaska %}
        <p>{{ formular.hlaska }}</p>
    {% endif %}

    {% for resic in formular.vysledky %}
        <hr>
        {% for pole in formular.polozky %}
            <p>
                <strong>{{ pole.nazev | safe}}:</strong> {{ resic.get(pole.promena, pole.pozice) }}
            </p>
        {% endfor %}  
    {% endfor %}

</body>
</html>