<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kalkulačka trojúhelníků</title>
</head>
<body>
	<h1>Kalkulačka trojúhelníků</h1>
    <p>Zadejte tři prvky trojúhelníku a spusťte výpočet:</p>

    <form method="post">
        {% for pole in formular.polozky %}
            <label for="{{ pole.name }}">{{ pole.nazev + ":" }}</label>
            <input type="number" name="{{ pole.name }}" id="{{ pole.name }}" value="{{ pole.hodnota }}"><br>
        {% endfor %}
        <input type="submit" value="vypočítat">
    </form>

</body>
</html>